<?php

declare(strict_types=1);

return [
    'session' => [
        'key' => [
            "crv" => "",
            "kty" => "",
            "x" => "",
            "y" => ""
        ],
        'cookie_name' => 'slsession',
        'oauth_server_uri' => getenv('DISCORD_OAUTH_SERVER_URI'),
    ],
    'dependencies' => [
        'factories' => [
            App\Session\SessionMiddleware::class => App\Container\Session\SessionMiddlewareFactory::class,
            App\Middleware\UserMiddleware::class => App\Middleware\UserMiddlewareFactory::class,
        ]
    ],
];
    